html {
    background: #eee;
}

.pagewrap {
    width: 1280px;
    height: 1626px;
    margin-top: 50px;
    margin-left: 232px;
    margin-bottom: 40px;
    background: white;
}

.topnav {
    height: 15px;
    width: 620px;
    padding-top: 5px;
    margin-left: 332px;
}

.topnav ul li {
    float: left;
    height: 40px;
}

.topnav li {
    list-style: none;
}

.topnav li a {
    text-decoration: none;
}

/* Style the links inside the navigation bar*/
.topnav a {
    color: red;
    padding: 14px 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

/* Change the color of links on hover*/
.topnav a:hover {
    text-decoration: underline 3px blue;
}

.appimage {
    width: 1280px;
    height: 789px;

}

.content {
    width: 1280px;
    height: 650px;
}

.title {
    width: 774px;
    height: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 57px;
    margin-left: 172px;
    margin-bottom: 42px;
    padding-right: 248px;
    color: #373737;
}

.text {
    width: 1145px;
    height: 132px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-left: 69px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}



.red-button {
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    margin-top: 124px;
    margin-left: 544px;
}

.getstarted {
    display: inline-block;
    width: 105px;
    height: 16px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 11px;
    vertical-align: middle;
    padding: 20px;
    margin: -3px 23px;

    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer {
    width: 1070px;
    height: 39px;
}

.rights {
    width: 1070px;
    height: 39px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    text-align: right;
    padding-left: 40px;
    color: #373737;
}